body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	height: 100svh;

	.title {
		text-align: center;
		color: violet;
	}

	.form {
		border: 1 solid gray;
		border-style: dotted;
		padding: 1rem;
		border-radius: 1rem;
		max-width: 540px;
		min-height: 650px;
		margin: 16px auto 0 auto;
		position: relative;
		display: flex;
		flex-direction: column;

		.list-group {
			list-style-type: none;
			flex: 1;
			display: flex;
			flex-direction: column;
			gap: 8px;

			.list-item {
				align-self: self-start;
				padding: 4px;
				border-radius: 6px;
				background-color: gray;
				color: white;
			}

			.left {
				background-color: skyblue;
				align-self: self-end;
			}
		}

		.action {
			bottom: 1rem;
			text-align: center;
			display: flex;
			width: 100%;
			flex-direction: column;
			gap: 1rem;

			#message {
				border-radius: 4px;
				min-height: 50px;
				max-height: 100px;
				min-width: 99%;
				max-width: 99%;
				flex: 1;
			}

			#send {
				flex: 1;
				cursor: pointer;
				border: none;
				padding: 8px;
				background-color: skyblue;
				border-radius: 8px;
			}
			#send:hover {
				background-color: rgb(90, 187, 226);
			}
			#send:active {
				background-color: skyblue;
			}
		}
	}

}

dialog {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
::backdrop {
	background-image: linear-gradient(45deg,
			violet,
			rebeccapurple,
			dodgerblue,
			green);
	opacity: 0.75;
}